@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Light.woff2") format("woff2"),
    url("./../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("./../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/gilroyextrabold.woff2") format("woff2"),
    url("./../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/gilroylight.woff2") format("woff2"),
    url("./../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #464646;
  background-color: #ffffff;
  overflow-x: hidden;
}
button {
  padding: 0;
  border: none;
  height: 10px;
}
h2 {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
}
h3 {
  letter-spacing: 0.18px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
  font-size: 18px;
  line-height: 24px;
}
a {
  text-decoration: none;
  transition: opacity 0.3s;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-header {
  position: relative;
  background-color: #f7e296;
  padding-bottom: 25px;
}
.main-navigation__button-plus{
  position: relative;
  top: 5px;
 font-size: 30px;
 opacity: 30%;
}
.main-header__logo {
  position: absolute;
  top: -60px;
  left: 60px;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.48px;
}
.main-header__logo-link {
  color: #000;
}
.main-header__logo-link:hover {
  opacity: 60%;
}
.main-header__logo-link:active {
  opacity: 30%;
}
.main-header__user-navigation {
  font-size: 15px;
  line-height: 30px;
  color: #000;
}
.main-navigation__button{
  outline: none;
  cursor: pointer;
  background: none;
}
.main-header__user-navigation a:hover {
  opacity: 60%;
}
.main-header__user-navigation a:active {
  opacity: 30%;
}
.main-navigation__list {
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.main-navigation__catalog-list {
  font-size: 15px;
  line-height: 36px;
  color: #000;
}
.main-header__user-navigation,
.main-navigation__catalog-list,
.main-navigation__list {
  list-style: none;
}
.main-header__user-navigation a,
.main-navigation__list a {
  color: #000;
}
.search-form__input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  line-height: 30px;
  color: #000;
  outline: none;
}
.search-form__button {
  transition: all 0.3s;
  background-color: #f7e296;
  display: none;
  color: #000;
  widows: 85px;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border: 1px solid black;
}
.search-form__button::before{
  content: "";
  position: absolute;
  top: 44px;
  left: -40px;
  width: 250px;
  height: 1px;
  background-color: black;

}
.search-form__button:hover {
  background-color: #000;
  color: #ffffff;
}
.search-form__button:active {
  background-color: #000;
  color: #ffffff;
  opacity: 30%;
}
.search-form_show .search-form__button{
  display: block;
}
.search-form__container{
  display: flex;
}
.main-navigation__item-link {
  letter-spacing: 3.6px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.main-navigation__item-link:hover {
  opacity: 60%;
}
.main-navigation__item-link:active {
  opacity: 30%;
}
.main-navigation__catalog-link:hover {
  opacity: 60%;
}
.main-navigation__catalog-link:active {
  opacity: 30%;
}
.product__title {
  width: 399px;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000;
}
.button {
  display: flex;
  width: 100%;
  height: 10px;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  background-color:#f3cf51;
  font-family: "Gilroy";
  font-weight: 900;
  transition: all 0.3s;
  outline: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.button::before {
  content: "";
  width: 100%;
  height: 10px;
  display: block;
  background-color: #f3cf51;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.button:hover.button::before {
  height: 40px;
}
.button:active {
  opacity: 30%;
}
.main-header {
  margin-top: 40px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
}
.main-header__logo {
  width: 200px;
}
.main-header__search-form {
  margin-left: 40px;
  position: relative;
  width: 200px;
}
.main-header__search-form::before {
  content: "";
  width: 16px;
  height: 24px;
  position: absolute;
  top: 9px;
  left: -40px;
  background-image: url(./../img/search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.search-form_show::before{
  top: 15px;
}
.main-header__user-navigation {
  width: 500px;
  display: flex;
  justify-content: start;
}
.main-header__item {
  position: relative;
}
.main-header__login::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: -25px;
  background-image: url(./../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-header__compare::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: -25px;
  background-image: url(./../img/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-header__bin::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: -25px;
  background-image: url(./../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-navigation_theme-header .main-navigation__list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
}
.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__item:first-child {
  margin-right: auto;
  margin-left: -15px;
}
.main-header__item:nth-child(2) {
  margin-right: 80px;
  opacity: 30%;
}
.main-header__item:nth-child(3) {
  margin-right: 60px;
}
.main-navigation_theme-header .main-navigation__item:first-child {
  margin-right: auto;
}
.main-navigation_theme-header .main-navigation__item:nth-child(2) {
  margin-right: 40px;
}
.main-navigation_theme-header .main-navigation__item:nth-child(3) {
  margin-right: 100px;
}
.main-navigation__catalog-list {
  margin-top: 25px;
  padding: 0;
  height: 125px;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 65px;
}
.main-navigation__catalog-item:nth-child(5) {
  margin-bottom: 50px;
}
.menu__list {
  position: relative;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 50px;
}
.menu__item{
  transition: all 0.3s;
}
.menu__item:hover{
  opacity: 60%;
}
.menu__item:active{
  opacity: 10%;
}
.menu__item a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.13px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #000;
  opacity: 30%;
}
.menu__item_link::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 13px;
  right: 150px;
  background-image: url(./../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.menu__item_catalog::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 13px;
  left: 75px;
  background-image: url(./../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.catalog__item{
  position: relative;
}
.catalog__new{
  width: 65px;
  height: 65px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 50%;
  text-transform: uppercase;
}
.filter::before{
  position: absolute;
  left: -50px;
  content: "";
  width: 400px;
  height: 1290px;
  background-color:  rgba(0, 0, 0, 0.08);
  z-index: -1;
}
.filter__menu {
  letter-spacing: 3.2px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 15px;
}
.filter-form__menu {
  border: none;
  padding: 0;
  margin: 0;
}
.filter-form__name {
  position: relative;
  letter-spacing: 0.16px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
  font-size: 18px;
  line-height: 24px;
  margin-top: 90px;
  margin-bottom: 25px;
}
.filter-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter-form__input {
  position: absolute;
  appearance: none;
}
.filter-form__box {
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(./../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: -30px;
}
.filter-form__radio {
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(./../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: -30px;
}
.filter-form__label {
  padding-left: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter-form__input:checked + .filter-form__box {
  background-image: url(./../img/checkbox-on.svg);
}
.filter-form__input:disabled + .filter-form__box {
  background-image: url(./../img/checkbox-disabled-off.svg);
  opacity: 25%;
}
.filter-form__input:checked:disabled + .filter-form__box {
  background-image: url(./../img/checkbox-disabled-on.svg);
  opacity: 25%;
}
.filter-form__box:hover {
  opacity: 60%;
}
.filter-form__input:disabled ~ .filter-form__text {
  opacity: 25%;
}
.filter-form__input:checked + .filter-form__radio {
  background-image: url(./../img/radio-on.svg);
}
.filter-form__input:disabled + .filter-form__radio {
  background-image: url(./../img/radio-off-disabled.svg);
  opacity: 25%;
}
.filter-form__button {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.filter-form__text{
  margin-bottom: 7px;
  margin-top: 7px;
}
.catalog{
  margin-left: 130px ;
}
.catalog__button {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-bottom: 20px;
}
.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 825px;
  justify-content: space-between;
  margin-top: 50px;
}
.catalog__text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.catalog__price {
  font-family: "Gilroy";
  font-weight: 300;
  line-height: 16px;
  font-weight: 24px;
  color: #464646;
  letter-spacing: 0.16px;
}
.catalog__offer {
  position: relative;
}
.catalog__container {
  position: absolute;
  display: none;
  top: 185px;
  left: 80px;
}
.catalog__link {
  color: #000;
  opacity: 50%;
  display: flex;
  justify-content: center;
}
.catalog__offer:hover .catalog__container {
  display: block;
}
.catalog__offer:hover .catalog__img-container {
  opacity: 70%;
}
.catalog__sort-menu {
  letter-spacing: 3.2px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;
  text-transform: uppercase;
}
.catalog__sort-list {
  display: flex;
  list-style: none;
  width: 350px;
  justify-content: space-between;
  margin-right: 625px;
}
.catalog__sorting {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__sorting::before{
  position: absolute;
  right: 120px;
  content: "";
  width: 1440px;
  height: 60px;
  background-color:  rgba(0, 0, 0, 0.08);
}
.catalog__sort-link {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  color: #000;
  opacity: 30%;
  transition: all 0.3s;
}
.catalog__sort-link:hover {
  opacity: 60%;
}
.catalog__sort-link:active {
  opacity: 100%;
}
.catalog__sort-link_active{
  opacity: 100%;
}
.catalog__sort-list::before {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  top: 24px;
  left: 785px;
  
}
.catalog__sort-list::after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  top: 24px;
  left: 810px;
}
.catalog__button-down{
  width: 12px;
  height: 12px;
  position: absolute;
  right: 365px;
  top: 24px;
  cursor: pointer;
  background-image: url(./../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  outline: none;
  transition: all 0.3s;
}
.catalog__button-up{
  width: 12px;
  height: 12px;
  position: absolute;
  right: 339px;
  top: 24px;
  cursor: pointer;
  background-image: url(./../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 20%;
  border: none;
  outline: none;
  transition: all 0.3s;
}
.catalog__button-up:hover{
opacity: 40%;
}
.catalog__button-up:active{
  opacity: 100%;
}
.catalog__button-down_active:hover{
opacity: 40%;
}
.catalog__button-down_active:active{
  opacity: 100%;
}
.catalog__pagination{
  list-style: none;
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.catalog__pagination-button{
  font-family: "Gilroy";
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  height: auto;
  opacity: 30%;
  transition: all 0.3s;
}
.catalog__pagination-button-toggle{
  font-family: "Gilroy";
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  height: 100%;
  width: 125px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  transition: all 0.3s;
}
.catalog__pagination-button-toggle:hover{
  background-color: rgba(0, 0, 0, 0.08);
}
.catalog__pagination-button-toggle:active{
  background-color: rgba(0, 0, 0, 0.08);
  opacity: 30%;
}
.catalog__pagination-button:hover{
  opacity: 100%;
}
.catalog__pagination-button_active{
  opacity: 100%;
}
.catalog__pagination-container{
  display: flex;
  width: 790px;
  height: 72px;
  background-color:  rgba(0, 0, 0, 0.08);
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
}
.big-container{
  display: flex;
  margin-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 320px;
}
.main-navigation_theme-footer .main-navigation__list {
  display: flex;
  justify-content: space-between;
  width: 440px;
}
.footer__navigation-container {
  display: flex;
  justify-content: space-between;
}
.footer__navigation-container::before{
  content: "";
  width: 80px;
  height: 8px;
  position: absolute;
  bottom: 40px;
  background-color: #ffc600;

}
.footer__social-networks {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: 500px;
}
.footer_social-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  position: relative;
  background-color: #464646;
}
.footer__logo {
  transition: all 0.3s;
  color: #ffc600;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}
.footer__logo:hover {
  opacity: 60%;
}
.footer__logo:active {
  opacity: 30%;
}
.footer__item {
  position: relative;
  list-style: none;
  transition: all 0.3s;
  opacity: 70%;
  color: #ffffff;
}
.footer__item_user::before{
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: -25px;
  background-image: url(./../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}
.footer__item_user::before{
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: -25px;
  background-image: url(./../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: invert(77%) sepia(35%) saturate(2805%) hue-rotate(0deg)
  brightness(104%) contrast(104%);
}
.footer__item_compare::before{
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: -25px;
  background-image: url(./../img/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: invert(77%) sepia(35%) saturate(2805%) hue-rotate(0deg)
  brightness(104%) contrast(104%);
}
.footer__item_cart::before{
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: -25px;
  background-image: url(./../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: invert(77%) sepia(35%) saturate(2805%) hue-rotate(0deg)
  brightness(104%) contrast(104%);
}
.footer__item:hover {
  opacity: 100%;
}
.footer__item:active {
  opacity: 30%;
}
.footer__link {
  color: #ffffff;
}
.footer__address {
  color: #ffffff;
}
.footer__tel-link {
  color: #ffffff;
}
.main-navigation_theme-footer .main-navigation__item-link {
  color: #ffffff;
}
.footer__social-image {
  opacity: 30%;
}
.footer__social-image:hover {
  opacity: 60%;
}
.footer__social-image:active {
  opacity: 10%;
}
.footer__html-image img {
  filter: invert(77%) sepia(35%) saturate(2805%) hue-rotate(0deg)
    brightness(104%) contrast(104%);
}
.footer__html-image:hover {
  opacity: 60%;
}
.footer__html-image:active {
  opacity: 30%;
}
.footer__logo-link {
  color: inherit;
}
.main-navigation__catalog_show{
  display: flex;
}
.slider__button{
  width: 22px;
  height: 22px;
  background: none;
  background-image: url(./../img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.slider__bar{
 border: 1px solid #f1f1f1;
 margin-bottom: 5px;
}
.slider__active-bar{
  position: relative;
  top: 1.5px;
  border: 1px solid #d3e9ac;
  width: 110px;
}
.slider__button_min{
  position: relative;
  top: -16px;
}
.slider__button_max{
  position: relative;
  top: -16px;
  left: 70px;
}
.slider__text{
  font-family: "Gilroy";
  font-weight: 300;
  line-height: 16px;
  font-weight: 24px;
  color: #000;
  opacity: 20%;
}
.slider__text_min{
  position: relative;
  left: -55px;
}
.filter-form__name::before{
  content: "";
  position: absolute;
  top:-20px;
  width: 201px;
  height: 2px;
  background-color: #000;
}
.filter-form__container{
  margin-top: 40px;
}
.catalog__text-new{
  opacity: 20%;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
  font-size: 14px;
  line-height: 24px;
}