@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Light.woff2") format("woff2"),
    url("./../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("./../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/gilroyextrabold.woff2") format("woff2"),
    url("./../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #464646;
  background-color: #ffffff;
}
button {
  padding: 0;
  border: none;
}
h2 {
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
}
a {
  text-decoration: none;
  transition: opacity 0.3s;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-header {
  background-color: #f7e296;
}
.main-header__logo {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.48px;
}
.main-header__logo-link {
  color: #000;
}
.main-header__logo-link:hover {
  opacity: 60%;
}
.main-header__logo-link:active {
  opacity: 30%;
}
.main-header__user-navigation {
  font-size: 15px;
  line-height: 30px;
  color: #000;
}
.main-header__user-navigation a:hover {
  opacity: 60%;
}
.main-header__user-navigation a:active {
  opacity: 30%;
}
.main-navigation__list {
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.main-navigation__catalog-list {
  font-size: 15px;
  line-height: 36px;
  color: #000;
}
.main-header__user-navigation,
.main-navigation__catalog-list,
.main-navigation__list {
  list-style: none;
}
.main-header__user-navigation a,
.main-navigation__list a {
  color: #000;
}
.search-form__input {
  font-size: 15px;
  line-height: 30px;
  color: #000;
}
.search-form__button {
  transition: all 0.3s;
  background-color: #f7e296;
  border: 2px solid #000;
  display: none;
  color: #000;
}
.search-form__button:hover {
  background-color: #000;
  color: #ffffff;
}
.search-form__button:active {
  background-color: #000;
  color: #ffffff;
  opacity: 30%;
}
.search-form__input:focus + .search-form__button {
  display: block;
}
.main-navigation__item-link {
  letter-spacing: 3.6px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.main-navigation__item-link:hover {
  opacity: 60%;
}
.main-navigation__item-link:active {
  opacity: 30%;
}
.main-navigation__catalog-link:hover{
  opacity: 60%;
}
.main-navigation__catalog-link:active{
  opacity: 30%;
}