@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Light.woff2") format("woff2"),
    url("./../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("./../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/gilroyextrabold.woff2") format("woff2"),
    url("./../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/gilroylight.woff2") format("woff2"),
    url("./../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #464646;
  background-color: #ffffff;
}
button {
  padding: 0;
  border: none;
  height: 10px;
}
h2 {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
}
a {
  text-decoration: none;
  transition: opacity 0.3s;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-header {
  background-color: #f7e296;
  padding-bottom: 125px;
}
.main-header__logo {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.48px;
}
.main-header__logo-link {
  color: #000;
}
.main-header__logo-link:hover {
  opacity: 60%;
}
.main-header__logo-link:active {
  opacity: 30%;
}
.main-header__user-navigation {
  font-size: 15px;
  line-height: 30px;
  color: #000;
}
.main-header__user-navigation a:hover {
  opacity: 60%;
}
.main-header__user-navigation a:active {
  opacity: 30%;
}
.main-navigation__list {
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.main-navigation__catalog-list {
  font-size: 15px;
  line-height: 36px;
  color: #000;
}
.main-header__user-navigation,
.main-navigation__catalog-list,
.main-navigation__list {
  list-style: none;
}
.main-header__user-navigation a,
.main-navigation__list a {
  color: #000;
}
.search-form__input {
  font-size: 15px;
  line-height: 30px;
  color: #000;
}
.search-form__button {
  transition: all 0.3s;
  background-color: #f7e296;
  border: 2px solid #000;
  display: none;
  color: #000;
}
.search-form__button:hover {
  background-color: #000;
  color: #ffffff;
}
.search-form__button:active {
  background-color: #000;
  color: #ffffff;
  opacity: 30%;
}
.search-form__input:focus + .search-form__button {
  display: block;
}
.main-navigation__item-link {
  letter-spacing: 3.6px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.main-navigation__item-link:hover {
  opacity: 60%;
}
.main-navigation__item-link:active {
  opacity: 30%;
}
.main-navigation__catalog-link:hover {
  opacity: 60%;
}
.main-navigation__catalog-link:active {
  opacity: 30%;
}
.product__title {
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000;
}
.button {
  display: flex;
  width: 100%;
  height: 10px;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  background-color:#f3cf51;
  font-family: "Gilroy";
  font-weight: 900;
  transition: all 0.3s;
  outline: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.button::before {
  content: "";
  width: 100%;
  height: 10px;
  display: block;
  background-color: #f3cf51;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.button:hover.button::before{
  height: 40px;
}
.button:active {
  opacity: 30%;
}
.product__text {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.product__element {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  font-family: "Gilroy";
  font-weight: 300;
  color: #000;
}
.product__element_tiny {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #464646;
}
.product-catalog__link {
  letter-spacing: 3.6px;
  font-family: "Gilroy";
  font-weight: 900;
  color: black;
  font-size: 18px;
  line-height: 24px;
}
.product-catalog__link:active {
  opacity: 30%;
}
.product-catalog__list {
  list-style: none;
}
.product-catalog__container-image {
  background-color: #f7e296;
  transition: all 0.3s;
}
.product-catalog__container-image:hover {
  background-color: #f0c52e;
}
.product-catalog__container-image:active .product-catalog__item-image {
  opacity: 30%;
}
.user-help {
  background-color: #e5e5e5;
}
.partners__image {
  opacity: 20%;
  filter: grayscale(100%);
  transition: all 0.3s;
}
.partners__image:hover {
  opacity: 100%;
  filter: unset;
}
.about-us__company {
  font-family: "Gilroy";
  font-weight: 900;
  color: #000;
}
.about-us__company-list {
  list-style: none;
}
.footer {
  background-color: #464646;
}
.footer__logo {
  transition: all 0.3s;
  color: #ffc600;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}
.footer__logo:hover {
  opacity: 60%;
}
.footer__logo:active {
  opacity: 30%;
}
.footer__item {
  list-style: none;
  transition: all 0.3s;
  opacity: 70%;
  color: #ffffff;
}
.footer__item:hover {
  opacity: 100%;
}
.footer__item:active {
  opacity: 30%;
}
.footer__link {
  color: #ffffff;
}
.footer__address {
  color: #ffffff;
}
.footer__tel-link {
  color: #ffffff;
}
.main-navigation_theme-footer .main-navigation__item-link {
  color: #ffffff;
}
.footer__social-image {
  opacity: 30%;
}
.footer__social-image:hover {
  opacity: 60%;
}
.footer__social-image:active {
  opacity: 10%;
}
.footer__html-image img {
  filter: invert(77%) sepia(35%) saturate(2805%) hue-rotate(0deg)
    brightness(104%) contrast(104%);
}
.footer__html-image:hover {
  opacity: 60%;
}
.footer__html-image:active {
  opacity: 30%;
}
.footer__logo-link {
  color: inherit;
}
/* Стили для сетки */
.main-header {
  border: #000 solid;
  margin-top: 40px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
}
.main-header__logo {
  border: 1px #000 solid;
  width: 200px;
}
.main-header__search-form {
  border: 1px #000 solid;
  width: 200px;
}
.main-header__user-navigation {
  border: 1px #000 solid;
  width: 500px;
  display: flex;
  justify-content: start;
}
.main-navigation_theme-header .main-navigation__list {
  border: 1px #000 solid;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
}
.main-header__container {
  border: 1px #000 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__item:first-child {
  margin-right: auto;
}
.main-header__item:nth-child(2) {
  margin-right: 35px;
}
.main-navigation_theme-header .main-navigation__item:first-child {
  margin-right: auto;
}
.main-navigation_theme-header .main-navigation__item:nth-child(2) {
  margin-right: 40px;
}
.main-navigation_theme-header .main-navigation__item:nth-child(3) {
  margin-right: 100px;
}
.main-navigation__catalog-list {
  margin-top: 25px;
  padding: 0;
  height: 125px;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 65px;
}
.main-navigation__catalog-item:nth-child(5) {
  margin-bottom: 50px;
}
.product-info__item {
  display: none;
}
.product-info__item_active {
  display: block;
}
.product__number {
  font-size: 179px;
  font-family: "Gilroy";
  font-weight: 900;
  letter-spacing: 1.79px;
  display: none;
}
.product-info__product {
  display: flex;
  justify-content: center;
  border: 1px solid #e5e5e5;
  margin-bottom: 70px;
  margin-top: -90px;
}
.product__img-container {
  border: 1px solid #000;
  margin-right: 125px;
  margin-left: 90px;
  position: relative;
  top: -50px;
}
.product__text-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  margin-right: 60px;
  position: relative;
}
.product-info__list {
  padding: 0;
}
.product__slide-container {
  display: flex;
  flex-direction: column;
  align-self: start;
  height: 15px;
}
.product__slide-list {
  display: flex;
  justify-content: center;
  margin-left: 220px;
  margin-top: 35px;
}
.product__button-list {
  display: flex;
  margin-bottom: 70px;
}
.product__detail-button {
  display: flex;
  align-items: center;
  width: 220px;
  justify-content: center;
  margin-top: 45px;
  position: relative;
}
.product-catalog__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.product-catalog__container-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
}
.product-catalog__link {
  display: block;
  width: 160px;
  letter-spacing: normal;
  margin-top: 25px;
}
.user-help__service {
  display: none;
}
.user-help__service_open {
  display: block;
  border: 1px solid #000;
}
.user-help__user-container {
  border: 1px solid #000;
  display: flex;
  position: relative;
  top: -70px;
}
.user-help {
  height: 290px;
  margin-top: 175px;
}
.user-help__button-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}
.user-help__button {
  display: flex;
  justify-content: center;
  width: 160px;
}
.user-help__button-item {
  display: flex;
  margin-bottom: 45px;
}
.user-help__button_active {
  color: #f3cf51;
  width: 280px;
}
.user-help__button_active::before{
  background-color: #000;
  height: 40px;
}
.user-help__service-list {
  padding: 0;
  margin: 0;
}
.user-help__container {
  margin-left: 120px;
}
.user-help__description {
  width: 430px;
}
.user-help__service-image {
  display: flex;
  border: 1px solid #000;
  margin-left: 120px;
}
.user-help__service_open {
  display: flex;
}
.partners__logos {
  list-style: none;
}
.partners__logos {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  justify-content: space-between;
}

.index-columns {
  display: flex;
  border: 1px solid #000;
  justify-content: space-between;
  margin-top: 110px;
  align-items: center;
}
.about-us__container {
  width: 475px;
  height: 560px;
}
.contacts__container {
  width: 560px;
  height: 560px;
}
.about-us__company-list {
  padding: 0;
  margin: 0;
  margin-left: 35px;
  margin-bottom: 80px;
  margin-top: 80px;
}
.about-us__company {
  margin-top: 15px;
}
.about-us__button{
  display: flex;
  justify-content: center;
  width: 260px;
}
.contacts__button {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  width: 260px;
}
.contacts__map {
  margin-top: 45px;
}
.contacts-modal__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 90px;
  justify-content: space-between;
}
.contacts-modal {
  box-shadow: 10px 10px 20px rgba(4, 6, 6, 0.2);
  width: 960px;
  height: 560px;
  border: 1px solid #000;
}
.contacts-modal__textarea-container {
  width: 100%;
}
.contacts-modal__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  color: #464646;
  opacity: 40%;
}
.contacts-modal__input {
  background-color: #f2f2f2;
  border: none;
  width: 360px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.contacts-modal__label-text {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  font-style: normal;
  color: #000;
  margin-bottom: 10px;
}
.contacts-modal__textarea {
  background-color: #f2f2f2;
  border: none;
  width: 760px;
  height: 155px;
  padding: 20px;
  resize: none;
}
.contacts-modal__textarea::placeholder {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  color: #464646;
  opacity: 40%;
}
.contacts-modal__label-container {
  display: flex;
  flex-direction: column;
}
.contacts-modal__label-text_area {
  margin-top: 35px;
}
.contacts-form__button {
  margin-top: 55px;
  width: 200px;
  display: flex;
  justify-content: center;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 320px;
}
.main-navigation_theme-footer .main-navigation__list {
  display: flex;
  justify-content: space-between;
  width: 440px;
}
.footer__navigation-container {
  display: flex;
  justify-content: space-between;
}
.footer__social-networks {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: 500px;
}
.footer_social-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
